{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Corelytix</title>
       {% tailwind_css %}
</head>
<body>
  <div class="navbar bg-gray-700 shadow-sm">
  <div class="navbar-start">
    <div class="dropdown">
      <div>
        <span>Corelytix</span>
      </div>
    </div>
  </div>
  <div class="navbar-end">
    <a class="btn">Login</a>
  </div>
</div>
<div class="flex justify-center items-center mt-8">
  <div class='items-center'>
    {% block content %}{% endblock %}
  </div>
</div>


    
          <script src="{% static 'js/app.js' %}"></script>
</body>
</html>